@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/satoshi/Satoshi-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/satoshi/Satoshi-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/satoshi/Satoshi-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/satoshi/Satoshi-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/satoshi/Satoshi-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  :root {
    font-family: 'Satoshi', sans-serif !important;
  }
}

.search {
  background: linear-gradient(180deg, rgb(105, 13, 137) 0%, rgb(153, 66, 139) 100%);
}

:root {
  --commonMarginBottom-sm: 1.7rem;
  --commonMarginBottom-md: 2.2rem;
  --commonMarginBottom-lg: 3rem;
  --commonMarginBottom-xl: 3.4rem;
}

@layer components {
  .commonMarginBottom {
    margin-bottom: var(--commonMarginBottom-sm);
  }
  @media (min-width: 640px) {
    .commonMarginBottom {
      margin-bottom: var(--commonMarginBottom-md);
    }
  }
  @media (min-width: 768px) {
    .commonMarginBottom {
      margin-bottom: var(--commonMarginBottom-lg);
    }
  }
  @media (min-width: 1024px) {
    .commonMarginBottom {
      margin-bottom: var(--commonMarginBottom-xl);
    }
  }
}

.earth {
  width: 100%;
  height: 100%;
  transform-origin: center center;
  transition: transform 8s ease-in-out;
  animation: rotation 120s infinite linear;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.ql-toolbar.ql-snow {
  @apply border-t-0 border-x-0 !important;
}

.ql-container.ql-snow {
  @apply border-0 !important;
}

.ql-toolbar.ql-snow.ql-active svg {
  @apply text-error !important;
}

.listing_section_content {
  @apply mt-4 mb-8;
}

.travel_container {
  @apply bg-white shadow-xl w-full rounded-b-lg lg:py-12 md:py-8 py-4 lg:px-20 md:px-8 px-2;
}

.helping_text {
  @apply text-sm italic text-gray-500 m-0;
}

.hover_black_overlay {
  @apply absolute inset-0 bg-black bg-opacity-50 opacity-0 group-hover:opacity-100 transition-opacity;
}

.react-datepicker-popper {
  z-index: 9999 !important;
}

.other_car_colors {
  background: rgb(63, 94, 251);
  background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
}

.leaflet-bottom,
.leaflet-control,
.leaflet-pane,
.leaflet-top {
  z-index: 0 !important;
}

.print-agreement {
  padding: 40px;
}

.travel_layout_container {
  @apply grid md:grid-cols-2 grid-cols-3 md:gap-8 2xl:pr-[350px] xl:pr-[250px] lg:pr-[120px] md:pr-4 2xl:pl-[290px] xl:pl-[200px] lg:pl-[80px] md:pl-0 justify-between items-center;
}

.travel_list_container {
  @apply 2xl:px-[350px] xl:px-[250px] lg:px-[120px] md:px-4;
}

.MuiFormHelperText-root {
  margin-left: 0px;
}

.car_details_no_photo {
  @apply w-full h-full border-2 flex justify-center items-center;
}

.home_max_width {
  @apply max-w-[1200px] mx-auto;
}

.l_connector {
  @apply relative z-0;
}

.l_connector::before {
  content: '';
  z-index: 0;
  position: absolute;
  top: -30%;
  left: 4%;
  width: 3rem;
  height: 4rem;
  border-left: 1px solid gray;
  border-bottom: 1px solid gray;
}

@media (max-width: 640px) {
  .l_connector::before {
    left: 8%;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');

.digital-font {
  font-family: 'Roboto Mono', monospace;
  letter-spacing: 2px;
}
