.transform-component-module_content__FBWxo {
  margin: auto !important;
  width: 100% !important;
  background-color: antiquewhite;
}
.transform-component-module_wrapper__SPB86 {
  width: 100% !important;
}
